# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.pipenv/
.venv.bak/

# Environment File
.env

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
dist/

# Pytest cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints