.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 15rem;
  max-width: 25rem;
  padding: var(--spacing-3);
  border-radius: var(--spacing-2);
  background-color: var(--color-white);
  box-shadow: 0 4px 8px var(--color-box-shadow-1);
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 4px 8px var(--color-box-shadow-selected-1);
}

.cardLogo {
  margin-bottom: var(--spacing-1-5);
}
